<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style_events.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<title>Events</title>
</head>
<body>
	<nav id="navbar">
		<div id="logo">
			<img src="../static/img/Amalthea-White-removebg-preview.png" alt="Amalthea">
		</div>
		<ul>
			<li class="item"><a href="Home.html">Home</a></li>
			<li class="item"><a href = "Events.html">Events</a></li>
			<li class="item"><a href = "About.html">About Us</a></li>
			<li class="item"><a href = "Sponsor.html">Sponsors</a></li>
		</ul>
	</nav>

	<section class="home">
		<div class="heading">Events Registration</div>
	</section>

	<section class="events-collage">
		<ul>
			<li><div class="magic-wall" id="fusion"><div></div></li>
			<li><div class="magic-wall" id="dcode"><div></div></div></li>
			<li><div class="magic-wall" id="crypto"><div></div></div></li>
			<li><div class="magic-wall" id="chemthink"><div></div></div></li>
			<li><div class="magic-wall" id="gamejam"><div></div></div></li>
			<li><div class="magic-wall" id="quickwit"><div></div></div></li>
		</ul>

	</section>

	<section class="registraion">

		<form class="row g-3">
			<div class="col-md-6">
			  <label for="inputEmail4" class="form-label">Email</label>
			  <input type="email" class="form-control" id="inputEmail4" placeholder="abc@xyz.com">
			</div>
			<div class="col-md-6">
			  <label for="inputname" class="form-label">Name</label>
			  <input type="text" class="form-control" id="inputname" placeholder="Bob">
			</div>
			<div class="col-6">
			  <label for="inputAddress" class="form-label">Institute Address</label>
			  <input type="text" class="form-control" id="inputAddress" placeholder="IIT Gandhinagar, Palaj, Gujarat">
			</div>
			<div class="col-md-6">
				<label for="inputevent" class="form-label">Event</label>
					<select id="inputevent" class="form-select">
						<option>ICON</option>
						<option>D'CODE</option>
						<option>CRYPTORUSH</option>
						<option>CRYPTIX</option>
						<option>GAMEJAM 2020 AD</option>
						<option>QUIKWIT</option>
						<option>CHEM-e-THINK</option>
					</select>
			  </div>
			<div class="col-md-3">
			  <label for="inputContact" class="form-label">Contact</label>
			  <input type="number" class="form-control" id="inputContact" placeholder="99XXXXXXXX">
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-4">
				<label for="inputmember" class="form-label">Team Members</label>
				<select id="inputmember" class="form-select">
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			
			<div class="col-12">
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" id="gridCheck">
				<label class="form-check-label" for="gridCheck">
				  Information filled is verified
				</label>
			  </div>
			</div>
			<div class="col-12 center">
			  <button type="submit" class="btn btn-primary">Register</button>
			</div>
		  </form>

	</section>

	<footer>
		<div class="follow">
			<div id='follow-head'>Follow us on</div>
			<div class="icons">
				<a href="http://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/001-linkedin.png" alt=""></a>
				<a href="http://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/002-instagram.png" alt=""></a>
				<a href="http://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/003-facebook.png" alt=""></a>
				<a href="http://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/004-youtube.png" alt=""></a>
				<a href="http://www.twitter.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/005-twitter.png" alt=""></a>
			</div>
		</div>
		<div class="mail">
			<h1>You can Email us on</h1>
			<a href="mailto:amalthea@iitgn.ac.in" target="_blank">amalthea@iitgn.ac.in</a>
		</div>
	</footer>

	<div id="copyright">Copyright&copy; 2021</div>

</body>
</html>