<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/style_home.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Courier+Prime&family=Neucha&display=swap" rel="stylesheet">
	<title>Amalthea | Home Page</title>
</head>
<body>
	<nav id="navbar">
		<div id="logo">
			<img src="../static/img/Amalthea-White-removebg-preview.png" alt="Amalthea">
		</div>
		<ul>
			<li class="item"><a href="Home.html">Home</a></li>
			<li class="item"><a href = "Events.html">Events</a></li>
			<li class="item"><a href = "About.html">About Us</a></li>
			<li class="item"><a href = "Sponsor.html">Sponsors</a></li>
		</ul>
	</nav>

	<section class="home">
		<div class="aml">
			<div id="amlnm">
				<div class="dance">A</div>
				<div class="dance">m</div>
				<div class="dance">a</div>
				<div class="dance">l</div>
				<div class="dance">t</div>
				<div class="dance">h</div>
				<div class="dance">e</div>
				<div class="dance">a</div>
			</div>
			<div class="dance"> </div>
			<div id="amldt">
				<div class="dance">2</div>
				<div class="dance">0</div>
				<div class="dance">2</div>
				<div class="dance">1</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="follow">
			<div id='follow-head'>Follow us on</div>
			<div class="icons">
				<a href="http://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/001-linkedin.png" alt=""></a>
				<a href="http://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/002-instagram.png" alt=""></a>
				<a href="http://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/003-facebook.png" alt=""></a>
				<a href="http://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/004-youtube.png" alt=""></a>
				<a href="http://www.twitter.com/" target="_blank" rel="noopener noreferrer"><img src="../static/mycollection/png/005-twitter.png" alt=""></a>
			</div>
		</div>
		<div class="mail">
			<h1>You can Email us on</h1>
			<a href="mailto:amalthea@iitgn.ac.in" target="_blank">amalthea@iitgn.ac.in</a>
		</div>
	</footer>
	<div id="copyright">Copyright&copy; 2021</div>


</body>
</html>